input {
  margin-top: 40px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 3px solid rgb(228, 222, 222);
  background: transparent;
  color: rgb(249, 251, 253);
}
::placeholder {
  color: aliceblue;
}
.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}
button {
  margin-top: 10px;
  margin-left: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 3px solid rgb(245, 239, 239);
  cursor: pointer;
  background: transparent;
  color: aliceblue;
}
button:hover {
  background-color: rgb(170, 189, 209);
}
